<!-- NUESTRAS CARACTERISTICAS -->
  <div id="why" class="why">
    <div class="container">        
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="section-header">
            <h3 class="section-subtitle wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">Nuestras características</h3>
            <h2 class="section-title wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">POR QUE ELEJIRNOS</h2>
          </div>
          <div class="why-item wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="icon">
              <i class="fa fa-group" aria-hidden="true"></i>
            </div>
            <div class="why-content">
              <h3>Mejor servicio al cliente</h3>
              <p>Procuramos la maximización de la inversión de nuestros Clientes, revisando cada una de nuestras propuestas económicas ofrecidas.</p>
            </div>
          </div>
          <div class="why-item wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
            <div class="icon">
              <i class="fa fa-check-square-o" aria-hidden="true"></i>
            </div>
            <div class="why-content">
              <h3>CALIDAD</h3>
              <p>Controlamos la calidad de los Productos Eléctricos, en media y baja tensión aérea y subterránea, que instalamos.</p>
            </div>
          </div>
          <div class="why-item wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="700ms">
            <div class="icon">
              <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
            </div>
            <div class="why-content">
              <h3>A tiempo</h3>
              <p>Cumplimos con los tiempos de ejecución acordado con nuestros clientes, aplicando y respetando las normas eléctricas y de telecomunicaciones de seguridad vigentes.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top: 7%;">
          <div id="testimonial" class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" >
            <div class="touch-slider" class="owl-carousel owl-theme" >
              <div class="item text-center">   
                <img class="img-member" src="img/mision.jpg" alt="">    
                <p>Brindar un servicio al cliente, oportuno y personalizado de manera que satisfaga las necesidades y expectativas de nuestros clientes en el campo eléctrico y telecomunicaciones en proyectos a nivel nacional con estándares de seguridad, calidad y confiabilidad a través de personal altamente calificado, responsable y comprometido.</p> <br>         
              </div>
              <div class="item text-center"> 
                <img class="img-member" src="img/vision.jpg" alt=""> 
                <p>Ser una empresa de excelencia en proyectos de ingeniería eléctrica y de telecomunicaciones a nivel nacional, con tecnológica innovadora, responsabilidad social, talento humano competente, que garantice la calidad de nuestro trabajo para el bienestar de nuestros clientes.</p><br>                
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- FIN NUESTRAS CARACTERISTICAS-->