<!-- CCONTACTANOS -->
<div id="contact" class="section contact-icon">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-4">
      <h2 class="section-titlecontact">CONTÁCTANOS</h2>
        <center><img src="img/bc3-05.png" alt="" ></center> <br>     
        <div class="contact_map">
          <iframe src="https://maps.google.com/maps?width=100%&height=600&hl=es&q=BRASIL%2C%20JUNIN%2C%20RIOBAMBA+(BC3-INGENIEROS%20S.A.)&ie=UTF8&t=&z=14&iwloc=B&output=embed"></iframe><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="box-icon wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
          <div class="icon icon-primary">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </div>
          <p>
            Dirección: Junín 37-16 y Brasil, Riobamba-Ecuador
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="box-icon wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="500ms">
          <div class="icon icon-secondary">
            <i class="icon-envelope"></i>
          </div>
          <p>
            ingenieros.bc3@gmail.com 
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="box-icon wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="700ms">
          <div class="icon icon-tertiary">
            <i class="icon-phone"></i>
          </div>
          <p>
            03-2963764 / 0983245942 / 0983764756 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FIN CONTACTANOS-->