<!-- FOOTER -->
<footer >
  <section class="footer-Content">
    <div class="container wow fadeInDown " data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="widget">                
            <div class="textwidget ">
              <center><img src="img/bc3-05.png" alt="">
                <ul class="red-social">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </center>
            </div>            
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="widget">
            <h3 class="block-title">CONTÁCTANOS</h3>
            <ul class=" red-social">
              <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> ingenieros.bc3@gmail.com</a></li><br><br>
              <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> 03-2963764 / 0983245942 / 0983764756</a></li><br><br>
              <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i><span> Dirección: Junín 37-16 y Brasil, Riobamba-Ecuador </span></a></li>                
              
            </ul>
          </div>
        </div>       
        
      </div>
    </div>
  </section>
</footer>
<!--FIN FOOTER --> 

<!-- Go To Top Link -->
<a href="#" class="back-to-top">
  <i class="fa fa-arrow-up"></i>
</a>

<div id="loader" >
  <div class="container">
    <img src="img/BC3.png" alt="" class="preloader" >
  </div>
</div>