 <!-- GALLERIA -->
  <section id="portfolio" class="section">
    <!-- Container Starts -->
    <div class="container">
      <div class="section-header">
        <h3 class="section-subtitle wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">QUE HACEMOS</h3>
        <h2 class="section-title wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">NUESTROS TRABAJOS</h2>
      </div>
      <div class="row">          
        <div class="col-md-12">
          <!-- Portfolio Controller/Buttons 
          <div class="controls text-center wow fadeInUp" data-wow-delay=".6s">
            <a class="control mixitup-control-active btn btn-common" data-filter="all">
              All 
            </a>
            <a class="control btn btn-common" data-filter=".marketing">
              Design 
            </a>
            <a class="control btn btn-common" data-filter=".planning">
              Development
            </a>
            <a class="control btn btn-common" data-filter=".research">
              Print 
            </a>
          </div>
          Portfolio Controller/Buttons Ends-->          

          <!-- Portfolio Recent Projects -->
          <div id="galeria" class="row wow fadeInUp" data-wow-delay="0.8s">
            {% if proyectos %}
              {% for proyecto in proyectos %}
                {% set i = 0 %}
                {% for avance in avances %}  
                  {% if proyecto == avance.proyectoid %}            
                    {% for galerias in galeria %}              
                      {% if avance == galerias.avanceid and i == 0 %}
                      {% set i = 1 %}
                      <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix marketing planning">
                        <div class="portfolio-item">
                          <div class="portfolio-img">
                            <img src="{{ asset('uploads/galeria/' ~ galerias.nombreimagen) }}" alt="" />                    
                          </div> 
                          <div class="portfoli-content">
                            <div class="sup-desc-wrap">
                              <div class="sup-desc-inner">
                                <div class="sup-meta-wrap">
                                  <a class="sup-title" style="" href="/proyectos_publico"><h4>{{ proyecto.nombreproyecto }} </h4></a>
                                  <p class="sup-description"></p>
                                </div>
                              </div>
                            </div>
                          </div>               
                        </div>
                      </div>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              {% endfor %}
            {% endif %}

          </div>
        </div>
      </div>
    </div>
    <!-- Container Ends -->
  </section>
  <!--FIN GALERIA --> 
