<!-- HEADER -->
 <header id="hero-area">    
   <div class="overlay" style="background: black; opacity: .6"></div>
   <nav class="navbar navbar-expand-lg navbar-light fixed-top scrolling-navba bg-faded" id="white-bg" style="background: #F7F7F7;">
    <div class="container" >
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="index.html"><img src="img/bc3-01.png" alt=""></a>  
      </div> 
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto w-100 justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="#hero-area">INICIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">NOSOTROS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/servicios">SERVICIOS</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" href="#galeria">GALERIA</a>
          </li>            
          <li class="nav-item">
            <a class="nav-link" href="#contact">CONTÁCTANOS</a>
          </li>
          <li>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</li>
          <li class="nav-item">
            <a class="nav-link" href="" data-toggle="modal" data-target="#login"><i class="fa fa-sign-in" aria-hidden="true" ></i> INICIAR SESIÓN</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>  

  <!-- MENU MOBILE  -->
  <ul class="mobile-menu">
    <li>
      <br><a href="#hero-area">INICIO</a>
    </li>
    <li>
      <a href="#about">NOSOTROS</a>
    </li>
    <li>
      <a href="#services">SERVICIOS</a>
    </li>
    <li>
      <a href="#galeria">GALERIA</a>
    </li>
    <li>
      <a href="#contact">CONTÁCTANOS</a>
    </li>
    <li>
      <a href="" data-toggle="modal" data-target="#login"><i class="fa fa-sign-in" aria-hidden="true" ></i> INICIAR SESIÓN</a>
    </li>
  </ul>
  <!-- FIn MENU MOBILE-->   

  

</header>
<!-- FIN HEADER--> 




<!-- MODAL LOGIN-->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img src="img/bc3-01.png" alt="" style="width: 15%">
        <h4 class="modal-title text_modal" id="exampleModalCenterTitle">&nbsp; &nbsp;Iniciar sesión</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <center>
        {% if error %}
          <span class="error">{{ error.messageKey }}</span>
        {% endif %}
         <form action="{{ path('app_login') }}" method="post">
                <div class="form-group">
                  <div class="form-label-group">
                    <input type="text" id="inputUsername"  class="form-control input" placeholder="Usuario" required="required" autofocus="autofocus" name="_username" value="{{ last_username }}">
                  </div>
                </div>

                <div class="form-group">
                  <div class="form-label-group">
                    <input type="password" id="inputPassword" name="_password" class="form-control input" placeholder="Contraseña" required="required">
                  </div>
                </div>

                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="remember-me">
                      Remember Password
                    </label>
                  </div>
                </div>
                
                <!--<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate')}}" /> 
                {% if is_granted('ROLE_USER') %}
                        <input type="hidden" name="_target_path" value="/empleado" />

                {% elseif is_granted('ROLE_ADMIN') %}
                        <input type="hidden" name="_target_path" value="/proyectos" />
                {% endif %}-->

                <button type="submit" class="button_all" name="login" >Iniciar sesión</button>
        </form>
            
        </center>
        </div>

      </div>
    </div>
  </div>
  <!--FIN MODAL LOGIN-->