<!-- QUIENES SOMOS -->
<section id="about" class="section">
  <div class="container">
    <div class="section-header">
      <h3 class="section-subtitle wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">¿Quienes somos?</h3>
      <h2 class="section-title wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">BC3 - INGENIEROS S.A.</h2>
    </div>
    <div class="row">
      <div class="col-md-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
        <p style="text-align: justify">Somos una empresa joven en diseño, construcción y servicios en el área eléctrica, telecomunicaciones e instrumentación al servicio de la Provincia de Chimborazo y el País. <br>
        Trabajar con seguridad en BC-3 es tarea de todos y de cada una de sus colaboradores con el desarrollo de una cultura de prevención podemos eliminar incidentes y accidentes, lograr el control de otros a fin de preservar equipos, maquinarias y nuestro mayor patrimonio el talento humano y el pleno cumplimiento de las leyes y normas que rigen la materia. <br>
        Nuestra empresa está formada por profesionales y técnicos calificados con una vasta experiencia, los cuales están en constante capacitación para poder enfrentar los desafíos que se presenten junto a nuestros futuros clientes.</p>
      </div>
      <div class="col-md-6 wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="img-about-out">
          <center><img src="img/img1.png" alt=""></center>
      </div>
     </div>
    </div>
      
    </div>    
  </section>
  <!-- FIN QUIENES SOMOS -->