<!-- NUESTROS SERVICIOS -->
  <section id="services" class="services section">
    <div class="container">
      <div class="section-header">
        <h3 class="section-subtitle wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">NUESTROS SERVCIOS</h3>
        <h2 class="section-title wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">BC3 - INGENIEROS S.A.</h2>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="service-box wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="icon">
              <center><img src="img/instalaciones.jpg" alt="" class="imgservices"></center>
            </div>
            <center><h3><a href="#">EL CAMPO DE LA ENERGÍA ELÉCTRICA:</a></h3></center>
            <p>Proyectos eléctricos en media y baja tensión, ingeniería conceptual básica y de detalle.</p>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="service-box wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="450ms">
            <div class="icon">
              <center><img src="img/telecomunicaciones1.jpg" alt=""  class="imgservices"></center>
            </div>
            <center><h3><a href="#">EL ÁREA DE TELECOMUNICACIONES:</a></h3></center>
            <p style="text-align: justify;">Suministro Mano de Obra, personal del área de Telecomunicaciones que son equipadas e integradas de acuerdo a las necesidades del cliente.</p>
          </div>
        </div>
      
        
      </div>
    </div>
  </section>
  <!-- FIN NUESTROS SERVICIOS -->